* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 45em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 35.12em) {
    html {
      font-size: 40%; } }

body {
  font-size: 1.6rem;
  font-family: montserrat;
  font-weight: 300;
  line-height: 1.5; }

.box {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  padding: 5rem; }
  .box__container--1 {
    width: 100%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5rem;
    margin-bottom: 2rem; }
  .box__container--2 {
    width: 100%;
    height: 60%;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }

.info {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: flex; }
  @media only screen and (max-width: 35.12em) {
    .info {
      flex-direction: column; } }
  .info__container--1 {
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5rem;
    margin-right: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }
    @media only screen and (max-width: 35.12em) {
      .info__container--1 {
        width: 100%;
        margin-bottom: 2rem; } }
  .info__container--2 {
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }
    @media only screen and (max-width: 35.12em) {
      .info__container--2 {
        width: 100%;
        margin-bottom: 2rem; } }

.btn {
  padding: 2rem 6rem;
  background-color: transparent;
  border: 2px solid black;
  position: relative;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  z-index: 1;
  transition: all 0.5s ease;
  overflow: hidden; }
  .btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 0;
    z-index: -1;
    transition: all 0.5s ease;
    overflow: hidden; }
  .btn:hover::before {
    height: 200%; }

.container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .container__icon {
    font-size: 5rem;
    color: white;
    margin-top: 9rem; }

.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; }
  .modal__content {
    width: 50%;
    height: 50%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    @media only screen and (max-width: 35.12em) {
      .modal__content {
        width: 100%;
        height: 100%; } }
  .modal__close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 4rem;
    transition: all 0.5s ease;
    cursor: pointer;
    color: white; }
    .modal__close:hover {
      color: red; }

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .contact__input {
    width: 70%;
    padding: 2rem;
    font-family: inherit;
    font-weight: 500;
    font-size: 2rem; }
  .contact__btn {
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-top: 3rem;
    padding: 1.4rem 5rem;
    background-color: white; }
    .contact__btn:hover {
      background-color: rgba(255, 255, 255, 0.9); }

#particles-js {
  height: 100vh;
  width: 100%;
  background-color: white;
  position: relative; }

#particles-js-2 {
  height: 100vh;
  width: 100%;
  background-color: #b22222;
  position: relative; }

.heading-primary {
  color: white;
  font-size: 10rem; }
  @media only screen and (max-width: 35.12em) {
    .heading-primary {
      font-size: 7rem; } }
  .heading-primary--black {
    color: black !important; }

.heading-secondary {
  font-size: 5rem;
  color: white; }
  @media only screen and (max-width: 35.12em) {
    .heading-secondary {
      font-size: 3rem; } }
  .heading-secondary--black {
    color: black !important; }

.heading-tertiary {
  color: white;
  font-size: 3rem; }
  @media only screen and (max-width: 48em) {
    .heading-tertiary {
      font-size: 2.5rem; } }
  .heading-tertiary--black {
    color: black !important; }
