* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;  

    @media only screen and (max-width: 45em) {
      font-size: 50%;
    }

    @media only screen and (max-width: 35.12em) {
      font-size: 40%;
    }
}

body {
  font-size: 1.6rem;
  font-family: montserrat;
  font-weight: 300;
  line-height: 1.5;
}
