#particles-js {
    height: 100vh;
    width: 100%;
    background-color: white;
    position: relative;
  }
  
  #particles-js-2 {
    height: 100vh;
    width: 100%;
    background-color: #b22222;
    position: relative;
  }